body {
  font-family:'Helvetica Neue','Arial', sans-serif;
  margin: 0px;
}







.feynman__title {
  margin-top: 100px;
  width: 648px;
  margin: 0 auto;
  text-align:center;
  line-height:1.15;
  font-size: 120px;
  font-weight:600;

}
.feynman__subtitle {
  margin-top: 70px;
  text-align:center;
  line-height:51px;
  font-size: 36px;
  font-weight:normal;
  z-index: 3;
  margin-bottom:0px;
}
.feynman__link {
  color: #2f80ed;
  right: 48px;
  top: 50%;
  position: absolute;
  line-height:51px;
  font-size: 36px;
  font-weight:normal;
}
.feynman {
  position:relative;
  height:  890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  z-index: 0;
  box-sizing: border-box;

}
.feynman__main-illustration {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
  z-index: -2;
}



.table__cell_theme_dark {
  margin-bottom:0px;
  width: 200px;

}     
.table_theme_dark {
row-gap: 80px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0px;
  z-index: -1;
  background-image: url(../images/kaufman-triangle.svg);
  
}
.kaufman {
  position: relative;
  z-index: 2;
  background: #1f1f1f;
  color: #FFF;
  overflow: hidden;
}
.footer {
  min-height: 350px;
  background: #1f1f1f;
  color: #FFF;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.footer__columns {
  display: flex;
  padding-top:60px;
  padding-bottom:40px;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  
  
}
.footer__author{
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight:normal;
  

}
.footer__column-heading {
  margin: 0 auto;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;

}

.footer__column_content_social{
  background: #1f1f1f;
  color: #FFF;
}
.footer__column_content_info{
  background: #1f1f1f;
  color: #FFF;

}
.footer__column-link{
  display:block;
  margin-bottom: 0px;
  text-decoration: none;
  color:#FFF;

}
.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__social-icon{
  margin-right:10px;
}